<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="th" lang="th">
    <head>
        <title>Hello Horoscope 4.0</title>
    </head>

    <body>
        Horo Scope 4.0
        <br>
        <form method="POST" action = "/student/add">
        <div class="form-group">
        <label form="lblFirstName">ชื่อ</label>
        <input type="text"  name="firstName"/>
        <button type="submit">Submit</button>
        </div>
        </form>
    </body>
</html>