<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="th" lang="th">
    <head>
        <title>Hello Horoscope 4.0</title>
    </head>

    <body>
        Horo Scope 4.0
        <br>
        {{text}}
    </body>
</html>