<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="th" lang="th">

<head>
  <title>My Page</title>
  <script src="/bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <link rel="stylesheet" href="/bower_components/bulma/css/bulma.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">


</head>

<body>

  <div class="container" ng-app='myApp'>
    <section class="hero is-warning">
      <div class="hero-body">
        <div class="container">
          <h1 class="title has-text-centered">
            POST IT
          </h1>
          <h2 class="subtitle has-text-centered">
            Don't forget your memories.
          </h2>
        </div>
      </div>
    </section>
    <br>
    <div class="notification">
      <nav class="level nav-border-y">
        <div class="level-item has-text-centered">
          <div>
            <p class="title">
              <div class="img-cruve">
                <p class="image is-64x64">
                  <img src="https://instagram.fbkk5-2.fna.fbcdn.net/t51.2885-19/s150x150/15624103_231223717301469_691266417831444480_a.jpg">
                </p>
              </div>
            </p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Following</p>
            <p class="title">3</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Followers</p>
            <p class="title">33</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Likes</p>
            <p class="title">333</p>
          </div>
        </div>
      </nav>
      {{text.actName}}
      <div class="nav-border-g" ng-controller="Ctrl">
      <span ng-bind="yourName"></span>
        <label class="label">Activity</label>
        <p class="control">
          <input ng-model="model.actName" class="input is-hovered" type="text" placeholder="Activity name ...">
        </p>
        <label class="label">Content</label>
        <p class="control">
          <textarea ng-model="model.actContent" class="textarea is-hovered" placeholder="Content ..."></textarea>
        </p>
        <div class="control is-grouped">
          <p class="control ">
            <button class="button is-primary right" ng-click="submit(model)">POST IT</button>
          </p>
          
        </div>
      </div>
      <br>
      <div class="columns is-multiline is-mobile">
        {{#items}}
        <div class="column is-one-third">
          <!-- <p class="notification is-info has-text-centered">{{actName}}</p>-->
          {{{actColor}}}{{actName}}</p>
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Content
              </p>

            </header>
            <div class="card-content">
              <div class="content">
                {{actContent}}
                <br>
                <small>{{actTime}} - {{actDate}}</small>
              </div>
            </div>
            <footer class="card-footer">
              <a class="card-footer-item"><span class="icon is-small"><i class="fa fa-reply"></i></span></a>
              <a class="card-footer-item"><span class="icon is-small"><i class="fa fa-retweet"></i></span></a>
              <a class="card-footer-item"><span class="icon is-small"><i class="fa fa-heart"></i></span></a>
            </footer>
          </div>
        </div>
        {{/items}}
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Web Application</strong> by <a href="https://www.facebook.com/piyapat.plydaungiii">Piyapat Plydaung</a>
          </p>
          <p>
            <a class="icon" href="https://github.com/loosamza">
              <i class="fa fa-github"></i>
            </a>
          </p>
        </div>
      </div>
    </footer>
  </div>




</body>

</html>