.img-cruve {
    background-color: #fafafa;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.nav-border-y {
    border: 1px solid #ffdd57;
    padding : 10px;
    border-radius: 2px;
}
.nav-border-g {
    border: 1px solid #00d1b2;
    padding : 10px;
    border-radius: 2px;
}

body {
    background-color: #77a0d4;
}